<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :category %>
<%= 	select("message", "category", Message.categories, {:include_blank => "Please select a category"}) %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div class="actions field">
    <label>&nbsp;</label>
    <div class='button_container'><span>&nbsp;</span><%= f.submit 'Send Message' , :class=>"button" %></div>        

  </div>
<% end %>

