<div id="forms">

<h1>Reset Password</h1>

<p>Select your new password and enter it below.</p>


<%= form_for :user,  @user, :url=>update_password_forgot_password_index_path  do |f| %>

<% if @user.errors.any? %>  
<div id="error_explanation">  
	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this invited from being saved:</h2>  <ul>  
		<% @user.errors.full_messages.each do |msg| %> 
		<li><%= msg %></li>  
		<% end %> 
	</ul> 
</div>
<% end %> 

<%= f.hidden_field :forgot_password_code %>

<div class="field">
	<%= f.label :password , "New Password"%>
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= f.label :password_confirmation, "Re-enter New Password" %>
	<%= f.password_field :password_confirmation %>
</div>


	  <div class='button_container'><span>&nbsp;</span><%= f.submit 'Reset Password' ,:class=>"button"%>
</div>

<% end %>
</div>