
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/smoothness/jquery-ui.css" media="screen" />

<script type="text/javascript">
var DatePicked = function() {
	var from = $("#from");
	var to = $("#to");
	var days = $("#days");

	var triggeringElement = $(this);

	var fromDate = from.datepicker("getDate");

	var minArrivalDate = new Date();
	if (fromDate != null) {
		minArrivalDate.setDate(fromDate.getDate());
	} else {
		minArrivalDate.setDate(minArrivalDate.getDate());
	}
	to.datepicker('option', 'minDate', minArrivalDate);

	var toDate = to.datepicker("getDate");

	if (fromDate != null && toDate != null && triggeringElement.attr("id") != "days") {
		var oneDay = 1000*60*60*24;
		var difference = Math.ceil((toDate.getTime() - fromDate.getTime()) / oneDay);
		days.val(difference);
	} else if (fromDate != null && triggeringElement.attr("id") == "days") {
		var daysEntered = parseInt(days.val());
		if (daysEntered >= 1) {
			var newArrivalDate = new Date();
			newArrivalDate.setDate(fromDate.getDate() + daysEntered);
			to.datepicker("setDate", newArrivalDate);
		} else {
			alert("Must be greater than 2.");
		}
	}
}
$(function() {
	$('#from').datepicker({ minDate: 0,
		onSelect: DatePicked
	});
	$("#to").datepicker({
		onSelect: DatePicked
	});
	$("#days").change(DatePicked);
	DatePicked();
});
</script>
<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <div id="new_sale_left">


    <div class="field">
      <%=f.label :name %>
      <%=f.text_field :name %>
    </div>
     <div class="field">
        <%=f.label :description %>
        <%=f.text_area :description , :cols => 30%>
      </div>
     
      <div class="field">
       <%= f.label "Categories" %>
         <% Category.find(:all,:conditions =>["active is true"],:order => "name  ASC").each do |category| %>
         	<%= check_box_tag 'sale[category_ids][]', category.id , checked = @selected_categories.include?(category.id.to_s)%> <%= category.name %><br/>
         <% end %>
       </div>
   
  </div>
  <div id="new_sale_middle">
   
    <div class="field">
        <%= f.label :state_id , "State" %>
        <%= f.select :state_id, State.find(:all,:conditions =>["active is true"]).collect {|c| [ c.name.capitalize, c.id ] }.sort, {:include_blank => "Select a state"},
  			{:onchange => remote_function(:url => {:action => 'load_city'},
  			 :with => "'state_id='+this.value"
  			)}%>
      </div>
      <div  class="field" id="state_cities_123">
          <%= label_tag "City" %>
          <%= select("sale", "city_id", @cities.collect {|c| [ c.name.capitalize, c.id ] }, { :include_blank => 'Select a city' },{:onchange => remote_function(:url => {:action => 'load_neighborhoods'},
       :with => "'city_id='+this.value"
       )})
  		%>
      </div>
      <div class="field" id="city_neighborhood">
          <%#= label_tag "Neighborhoods" %>
           <% @neighborhoods.each do |neighborhood| %>
      	<p><%= radio_button_tag 'sale[neighborhood_id]', neighborhood.id,  checked = @selected_neighborhood == neighborhood ? true : false %> <%= neighborhood.name %></p>
           <% end %>
      </div>
      <% @user = User.find_by_id(session[:user_id])%>
      <div class="field">
        <%=f.label :street %>
        <%=f.text_field :street %>
      </div>
	<div class="field">
        <%=f.label :zipcode %>
        <%=f.text_field :zipcode %>
      </div>
      
    
    
  </div>
  <div id="new_sale_right">
    <div class="field">
      <%= f.label :start_date , "Start Date" %>
        <%=f.text_field :start_date , :id => "from" ,:readonly =>true  %>
  	</div>
  	<div class="field">
      <%= f.label :end_date , "End Date" %>
        <%=f.text_field :end_date , :id => "to",:readonly =>true  %>
      
  	</div>
<div class="field">
	<%= f.label :time_from %>
	<%= f.time_select :time_from , :minute_step => 15 , :twelve_hour => true %>
</div>



<div class="field">
	<%= f.label :time_to %>
	<%= f.time_select :time_to, :minute_step => 15	, :twelve_hour => true %>
</div>
  	<div class="field" style="display:none;">
        <label>Days</label>
        <input type="text" name ="days" id= "days">
  	</div>

    <div class="field">
      <%=f.check_box :stats %> 
      <% @shipping_terms = ShippingTerm.first %>
      
      <% if @shipping_terms.payment_enabled && @shipping_terms.sale_stats_cost != 0 %>
        <%= link_to "Enable Analytics Report " ,analytics_report_path, :class => "tips2",:title => "To get all the analysis of your sale please enable this feature.You will be charged $#{@shipping_terms.sale_stats_cost} for this feature." %>
      <% else %>
        <%= link_to "Enable Analytics Report " ,analytics_report_path, :class => "tips2",:title => "To get all the analysis of your sale please enable this feature." %>
      <% end %>  
    </div>
    <div class='button_container'><span>&nbsp;</span><%= f.submit "#{@sale.new_record? ? 'Create Sale' : 'Update Sale'}", :class => "button"%></div>
    
    
  </div>
  </div>
<% end %>

